.pp {
    width: 150px;
    float: right;
}

.fullname {
    color: blue;
    font-family: Arial;
}

.heading {
    font-size: 17px;
}

.heading strong {
    color: white;
    background-color: darkcyan;
    display: block;
}

.sub_details {
    font-size: 17px;
    font-family: calibri;
}
